.header{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}


.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.header button{
  width: 150px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
}

.gallery img{
  object-fit: cover;
  width: 25%;
  height: 400px;
}

.header input{
  width: 500px;
  padding: 10px;
}